MiPacienteSeguro.Web/Service References/PruebaServicioWeb/pacientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarUsuarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarUsuariosResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfirmacionPassword" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdRol" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="tns:ArrayOfRol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Rol" nillable="true" type="tns:Rol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Rol">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:ArrayOfUsuario" />
          <s:element minOccurs="0" maxOccurs="1" name="Opciones" type="tns:ArrayOfOpcion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOpcion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Opcion" nillable="true" type="tns:Opcion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Opcion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfRol" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="Usuario" nillable="true" type="tns:Usuario" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuariosHttpGetIn">
    <wsdl:part name="nombreUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuariosHttpGetOut">
    <wsdl:part name="Body" element="tns:Usuario" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuariosHttpPostIn">
    <wsdl:part name="nombreUsuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultarUsuariosHttpPostOut">
    <wsdl:part name="Body" element="tns:Usuario" />
  </wsdl:message>
  <wsdl:portType name="PacientesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <wsdl:input message="tns:ConsultarUsuariosSoapIn" />
      <wsdl:output message="tns:ConsultarUsuariosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PacientesHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <wsdl:input message="tns:ConsultarUsuariosHttpGetIn" />
      <wsdl:output message="tns:ConsultarUsuariosHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PacientesHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <wsdl:input message="tns:ConsultarUsuariosHttpPostIn" />
      <wsdl:output message="tns:ConsultarUsuariosHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PacientesSoap" type="tns:PacientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <soap:operation soapAction="http://tempuri.org/ConsultarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PacientesSoap12" type="tns:PacientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ConsultarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PacientesHttpGet" type="tns:PacientesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <http:operation location="/ConsultarUsuarios" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PacientesHttpPost" type="tns:PacientesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <http:operation location="/ConsultarUsuarios" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pacientes">
    <wsdl:port name="PacientesSoap" binding="tns:PacientesSoap">
      <soap:address location="http://mipaciente.azurewebsites.net/pacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="PacientesSoap12" binding="tns:PacientesSoap12">
      <soap12:address location="http://mipaciente.azurewebsites.net/pacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="PacientesHttpGet" binding="tns:PacientesHttpGet">
      <http:address location="http://mipaciente.azurewebsites.net/pacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="PacientesHttpPost" binding="tns:PacientesHttpPost">
      <http:address location="http://mipaciente.azurewebsites.net/pacientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>